body {
  padding: 0;
  margin: 0;
  min-width: 1280px;
}
body * {
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body.fix-menu {
  padding-top: 100px;
}
body.fix-menu .header {
  position: fixed;
  z-index: 100;
  background: #fff;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
  top: 0;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12156863);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12156863);
  min-width: 1280px;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.hidden {
  display: none;
}
.clear {
  clear: both;
  display: block;
}
.header {
  padding: 30px 11% 5px 11%;
  -webkit-transition: padding-top 0.5s, padding-bottom 0.5s;
  transition: padding-top 0.5s, padding-bottom 0.5s;
}
.header.alt {
  -webkit-box-shadow: 0px 3px 5px #e8e8e8;
          box-shadow: 0px 3px 5px #e8e8e8;
  padding-bottom: 20px;
}
.header .drd {
  float: left;
}
.header .drd img {
  width: 120px;
}
.header .menu {
  float: right;
  margin-top: 8px;
}
.header .menu ul li {
  float: left;
  margin-right: 10px;
}
.header .menu ul li.active a {
  background: #cb1218;
  color: #fff;
}
.header .menu ul li.active a:hover {
  color: #fff;
}
.header .menu ul li a {
  display: inline-block;
  color: #333;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
.header .menu ul li a:hover {
  color: #f00e0e;
}
.button {
  padding: 12px 15px 11px;
  border: 0;
  background: #e21a21;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.button:hover {
  background: #d8171e;
}
.button:focus {
  -ms-background: linear-gradient(#ca1117, #ec2228, #cb1218);
  -moz-background: linear-gradient(#ca1117, #ec2228, #cb1218);
  -o-background: linear-gradient(#ca1117, #ec2228, #cb1218);
  -webkit-background: -webkit-gradient(linear, left top, left bottom, from(#ca1117), color-stop(#ec2228), to(#cb1218));
  -webkit-background: linear-gradient(#ca1117, #ec2228, #cb1218);
  background: -webkit-gradient(linear, left top, left bottom, from(#ca1117), color-stop(#ec2228), to(#cb1218));
  background: linear-gradient(#ca1117, #ec2228, #cb1218);
}
.center {
  text-align: center;
}
.banner {
  height: auto;
  min-height: 600px;
  position: relative;
  margin-bottom: -5px;
  background: url('/img/banner/bg.png') no-repeat;
  background-size: cover;
  min-height: 650px;
  background-position-y: 20px;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: auto;
  z-index: 0;
}
.banner .doctor {
  width: 790px;
  position: absolute;
  top: 20px;
  left: 62%;
}
.banner .tea {
  width: 200px;
  position: absolute;
  bottom: 8%;
  left: 36%;
}
.banner .tea.left {
  left: 32%;
  -webkit-transform: rotateZ(-20deg);
          transform: rotateZ(-20deg);
}
.banner .tea.right {
  left: 40%;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}
.banner .message {
  position: absolute;
  width: 60%;
  height: auto;
  top: 0;
  color: #fff;
  left: 11%;
  top: 17%;
}
.banner .message h2 {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner .message p {
  font-size: 19px;
  letter-spacing: 0.2px;
  line-height: 30px;
  width: 75%;
}
.banner .message .price {
  font-size: 25px;
}
.banner .message .price .number {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
}
.banner a {
  position: absolute;
  height: auto;
  color: #fff;
  left: 11%;
  bottom: 15%;
  padding-top: 15px;
}
.i-block {
  color: #333;
  padding: 70px 11% 100px 11%;
}
.i-block.odd {
  background-color: #fffafa;
}
.i-block .title {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: 26px;
  margin-bottom: 15px;
}
.i-block .title .highlight {
  color: #ee1d24;
}
.i-block .i-desc {
  padding: 0;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  max-width: 70%;
  margin: auto;
  line-height: 24px;
}
.i-block .content {
  position: relative;
  margin-top: 70px;
}
.i-block .content.customer {
  padding-top: 100px;
  overflow: hidden;
  min-width: 1110px;
}
.i-block .content .item {
  width: 45%;
  padding-left: 185px;
  position: relative;
  float: left;
  margin-bottom: 100px;
}
.i-block .content .item.right {
  float: right;
}
.i-block .content .item.triple {
  padding-left: 0;
  width: 28%;
  margin-right: 8%;
  margin-bottom: 60px;
}
.i-block .content .item.triple:last-child {
  margin-right: 0;
}
.i-block .content .item.triple img {
  position: relative;
  top: 0;
  -webkit-transform: none;
  transform: none;
}
.i-block .content .item.triple .main {
  margin-top: 15px;
  font-size: 21px;
  text-align: center;
}
.i-block .content .item.triple .desc {
  font-size: 16px;
  max-width: 300px;
  text-align: center;
  margin: auto;
}
.i-block .content .item.quart {
  padding-left: 0;
  width: 22%;
  margin-right: 4%;
  margin-bottom: 80px;
}
.i-block .content .item.quart:last-child {
  margin-right: 0;
}
.i-block .content .item.quart img {
  position: relative;
  top: 0;
  -webkit-transform: none;
  transform: none;
}
.i-block .content .item.quart .main {
  margin-top: 15px;
  font-size: 21px;
  text-align: center;
}
.i-block .content .item.quart .desc {
  font-size: 16px;
  max-width: 230px;
  text-align: center;
  margin: auto;
}
.i-block .content .item.double {
  padding-left: 0;
  width: 45%;
  margin-right: 5%;
  margin-bottom: 60px;
}
.i-block .content .item.double img {
  position: relative;
  top: 0;
  -webkit-transform: none;
  transform: none;
  border-radius: 0;
}
.i-block .content .item.double .main {
  margin-top: 0;
  font-size: 20px;
  font-weight: 400;
  max-width: 350px;
  margin: auto;
}
.i-block .content .item.quote {
  width: calc((88vw - 450px) / 2);
  margin: auto;
  float: left;
  padding-left: 0;
  max-width: 800px;
  margin-right: 100px;
  min-width: 410px;
}
.i-block .content .item.quote.last {
  margin-bottom: 0;
  margin-right: 0;
}
.i-block .content .item.quote .cus {
  position: relative;
  padding-left: 125px;
  margin: auto;
  width: 350px;
  margin-bottom: 50px;
}
.i-block .content .item.quote .cus img {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: auto;
  top: 20px;
}
.i-block .content .item.quote .cus .name {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 21px;
}
.i-block .content .item.quote .cus .info {
  font-size: 14px;
}
.i-block .content .item.quote .text {
  font-size: 19px;
  text-align: justify;
}
.i-block .content .main {
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 10px;
}
.i-block .content .desc {
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.i-block .content img {
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.i-block .action {
  padding: 20px 0 0 0;
  text-align: center;
}
.footer {
  padding: 100px 12%;
  background-color: #f1f5f7;
}
.footer .left {
  width: 45%;
  float: left;
}
.footer .left .company {
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: 500;
}
.footer .left img {
  width: 150px;
  margin-bottom: 20px;
}
.footer .left ul li {
  color: #333;
  margin-bottom: 20px;
  font-size: 17px;
  font-size: 16px;
  line-height: 25px;
}
.footer .left ul li a {
  color: #333;
}
.footer .right {
  width: 35%;
  float: right;
  color: #333;
}
.footer .right .certification h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .right .certification ul li {
  margin-bottom: 20px;
  line-height: 25px;
}
.footer .right .contact {
  margin-top: 40px;
}
.footer .right .contact h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer .right .contact ul li {
  float: left;
  margin-right: 10px;
}
.footer .right .contact ul li img {
  height: 25px;
}
.contact-form {
  margin-top: -25px;
  min-height: 800px;
  background: url(/img/contact.png) no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
.contact-form img {
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 0;
}
.contact-form .block {
  position: absolute;
  top: 12%;
  left: 500px;
  width: 45%;
}
.contact-form .block h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
}
.contact-form .block .timer {
  padding-left: 80px;
  padding-top: 10px;
}
.contact-form .block .timer .item {
  font-size: 23px;
  background: #8f0606;
  padding: 6px 12px 8px;
  display: inline-block;
  margin-right: 5px;
}
.contact-form .block .timer .item .number {
  font-weight: 500;
  font-size: 25px;
}
.contact-form .block .form {
  margin-left: 160px;
  margin-top: 70px;
}
.contact-form .block .form .form-group {
  margin-bottom: 40px;
}
.contact-form .block .form .form-group input,
.contact-form .block .form .form-group textarea {
  background: none;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 90%;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  outline: none;
  color: #fff;
  resize: none;
}
.contact-form .block .form .form-group ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.contact-form .block .form .form-group ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.contact-form .block .form .form-group :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.contact-form .block .form .form-group :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.contact-form .action {
  position: absolute;
  bottom: 8.5%;
  left: 660px;
}
.error-message {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  -webkit-animation: bling 1.5s infinite;
          animation: bling 1.5s infinite;
  display: none;
}
.back2top {
  position: fixed;
  padding: 8px 14px 9px;
  color: #fff;
  right: 80px;
  bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  display: none;
  background: #e21a21;
  text-transform: none;
}
.d-call {
  position: fixed;
  padding: 10px 11px 8px;
  color: #fff;
  left: 30px;
  bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  background: #e21a21;
  text-transform: none;
  border-radius: 50%;
  -webkit-animation: shake 1s infinite;
          animation: shake 1s infinite;
}
.top-info {
  padding: 15px 11%;
  background: #f6f6f6;
  color: #444;
  font-weight: 400;
  font-size: 17px;
}
.top-info a {
  color: #444;
}
.top-info b {
  font-weight: 500;
  font-size: 17px;
}
.top-info > span {
  margin-right: 20px;
}
.top-info > span i {
  margin-right: 10px;
  font-size: 18px;
  color: #cb1218;
}
.top-info .address {
  float: left;
}
.top-info .phone {
  float: right;
}
.fb-m {
  position: fixed;
  bottom: 26px;
  right: 30px;
}
.fb-m img {
  width: 40px;
}
.fb-m:hover span {
  display: inline-block;
}
.fb-m span {
  position: absolute;
  color: #fff;
  background: #e21a21;
  padding: 8px 14px 9px;
  top: -50px;
  width: 330px;
  right: 0;
  font-size: 18px;
  font-weight: 400;
  display: none;
}
.fb-m span:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 15px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #e21a21 transparent transparent transparent;
}
.probs,
.intro {
  text-align: left;
  padding-top: 100px;
}
.probs.intro .pt-left,
.intro.intro .pt-left {
  text-align: left;
}
.probs.intro .pt-right,
.intro.intro .pt-right {
  padding-top: 0;
}
.probs .pt-left,
.intro .pt-left {
  float: left;
  width: 45%;
  text-align: right;
}
.probs img,
.intro img {
  width: 90%;
}
.probs .pt-right,
.intro .pt-right {
  float: right;
  width: 45%;
  padding-top: 60px;
}
.probs .title,
.intro .title {
  font-size: 30px;
  text-align: left;
  line-height: 45px;
  margin-bottom: 35px;
}
.probs ul,
.intro ul {
  padding-bottom: 55px;
}
.probs ul li,
.intro ul li {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 30px;
  text-align: justify;
}
.probs ul li i,
.intro ul li i {
  margin-right: 10px;
  color: #e21a21;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  font-size: 10px;
  float: left;
  margin-top: 11px;
}
.video {
  margin-top: 120px;
  margin-bottom: 70px;
}
.video h3 {
  font-size: 26px;
  font-weight: 500;
}
.news .content .item {
  padding-left: 0;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 70px;
}
.news .content .item.last {
  margin-right: 0;
}
.news .content .item .news-title {
  font-size: 21px;
  margin-bottom: 10px;
}
.news .content .item p {
  line-height: 25px;
  text-align: justify;
  margin-top: 0;
  font-size: 18px;
}
.news .content .item a {
  color: #e21a21;
  display: inline-block;
  margin-top: 5px;
}
.news .content .action a {
  text-transform: none;
  padding: 10px;
}
.news-block .left {
  width: 70%;
  float: left;
}
.news-block .right {
  width: 23%;
  float: right;
}
.news-block .news-item {
  position: relative;
  padding-left: 320px;
  min-height: 250px;
}
.news-block .news-item img {
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
}
.news-block .news-item h4 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}
.news-block .news-item p {
  margin-top: 0;
  font-size: 17px;
  padding-bottom: 20px;
}
.news-block .news-item a {
  padding: 4px 10px 6px;
  color: #fff;
  background: #cb1218;
  font-size: 15px;
}
.news-block.news-block2 .f-item {
  padding-left: 130px;
  min-height: 110px;
}
.news-block.news-block2 .f-item img {
  width: 120px;
}
.news-block.news-block2 .f-item h4 {
  font-size: 18px;
}
.news-block.news-block2 .right-title {
  font-size: 22px;
  margin-bottom: 30px;
}
.news-block .f-item {
  position: relative;
  padding-left: 85px;
  min-height: 60px;
}
.news-block .f-item a {
  color: #333;
}
.news-block .f-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
}
.news-block .f-item h4 {
  font-weight: 500;
  font-size: 16px;
}
.news-block .right-title {
  margin-top: 27px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.news-block .info {
  color: #666;
  font-size: 15px;
  margin-bottom: 15px;
}
.notification {
  position: fixed;
  background: #06802c;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  bottom: 30px;
  z-index: 100;
  left: 10px;
  display: none;
}
.map {
  margin: 100px 0;
}
.map h2 {
  margin-bottom: 30px;
}
.post-heading h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 500;
}
.post-heading div span {
  font-size: 14px;
  color: #545454;
}
.post-heading div a {
  font-weight: 500;
  margin-left: 15px;
  color: #f2141c;
}
.post-content {
  margin-top: 50px;
}
.post-content * {
  font-family: Roboto !important;
}
.post-content .no_bullets {
  border: 1px solid #ffeaeb;
  padding: 20px 40px;
  background-color: #fff7f8;
}
.post-content .no_bullets ul {
  padding-left: 20px;
}
.post-content .no_bullets ul li {
  margin-top: 8px;
}
.product-price {
  padding-bottom: 10px;
  font-size: 22px;
}
.product-price .number {
  font-weight: 600;
  font-size: 24px;
  color: #f21d25;
  letter-spacing: 1px;
}
.product-price.hotline .number {
  letter-spacing: 0;
}
.gift {
  font-size: 22px;
  /*font-weight: 500;*/
  line-height: 40px;
  padding-bottom: 30px;
  margin-top: 10px;
  letter-spacing: 0.5px;
}
.gift .highlight {
  color: #e21a21;
  font-weight: 600;
}
.product-info .description {
  font-size: 18px;
  line-height: 33px;
  text-align: justify;
  padding-top: px;
}
.product-info .description b {
  /*color: #e82128;*/
}
.product-info .pt-left {
  width: 66%;
  /*float: none;*/
}
.product-info .pt-left .title {
  /*text-align: center;*/
  font-size: 25px;
}
.product-info .pt-right {
  width: 30%;
  /*float: none;*/
  padding-top: 0;
}
.product-info .pt-right .title {
  font-size: 25px;
}
.product-info .qa ul li .q {
  font-size: 21px;
}
.product-info .qa ul li .a {
  font-size: 18px;
}
.sl-row {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}
.sl-row .slide-trigger {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  font-weight: 300;
  background: #e8e8e8;
  padding: 12px 21px 12px 18px;
  border-radius: 50%;
  color: #fff;
}
.sl-row .slide-trigger.b-right {
  right: 0;
  left: auto;
}
.tabs {
  background: #e21a21;
  border-radius: 3px;
}
.tabs ul {
  padding-bottom: 0;
}
.tabs ul li {
  float: left;
  margin-right: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}
.tabs ul li a {
  display: inline-block;
  padding: 12px;
  color: #fff;
  font-size: 22px;
}
.tabs ul li.active a {
  height: 66px;
  margin-top: -12px;
  background: #a40f14;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  line-height: 47px;
}
.card-item {
  width: 23.5%;
  margin-right: 2%;
  background: #fff;
  padding: 20px;
  float: left;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card-item:last-child {
  margin-right: 0;
}
.card-item h4 {
  font-weight: 500;
  font-size: 22px;
  padding: 0;
  margin: 0;
}
.s-line {
  position: relative;
  /*min-width: 1185px;*/
}
.s-line .s-left {
  width: 44%;
  float: left;
  margin-right: 5%;
}
.s-line .s-right {
  width: 50%;
  float: left;
  padding-top: 100px;
}
.s-line .s-right p b {
  font-weight: 500;
}
.s-line p {
  font-size: 21px;
  text-align: justify;
}
.s-line img.rose {
  width: 100%;
  height: auto;
  border-radius: 0;
  position: relative;
  -webkit-transform: none;
          transform: none;
  top: 0;
  float: left;
}
.s-line .adv h4 {
  font-weight: 500;
  font-size: 21px;
  text-align: right;
  padding-right: 40px;
  margin-bottom: 10px;
}
.s-line .adv ul li {
  font-size: 20px;
  margin-bottom: 5px;
}
.s-line img.ov {
  width: 700px;
  height: auto;
  border-radius: 0;
  -webkit-transform: none;
          transform: none;
  top: 150px;
  left: 150px;
}
@-webkit-keyframes bling {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bling {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes shake {
  from {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  to {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}
@keyframes shake {
  from {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  to {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}
@-webkit-keyframes tada {
  from {
    display: inline-block;
  }
  to {
    display: none;
  }
}
@keyframes tada {
  from {
    display: inline-block;
  }
  to {
    display: none;
  }
}
